weather_program.json
[
    {
        "id": "d964e50a53275c4d",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3fee41ec7ae3c402",
        "type": "http request",
        "z": "d964e50a53275c4d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.ipify.org/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "1839cea93dd2d59e",
                "e125250483f8bb6f"
            ]
        ]
    },
    {
        "id": "1839cea93dd2d59e",
        "type": "ipinfo",
        "z": "d964e50a53275c4d",
        "name": "",
        "property": "payload",
        "propertyout": "payload",
        "config": "f9d78537ddf6ff91",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "5b420bd76f339528",
                "8e5b2de51fa8920b",
                "eb582c3a95ded41b"
            ]
        ]
    },
    {
        "id": "5b420bd76f339528",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Prepare API Endpoint",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.openweathermap.org/data/2.5/weather?q={{payload.city}},{{payload.countryCode}}&units=metric&appid=XXXXXXXXXXXXXXXXXXX",
        "output": "str",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "f1d324d2a262798f"
            ]
        ]
    },
    {
        "id": "51e6210649c3fdcd",
        "type": "http request",
        "z": "d964e50a53275c4d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 100,
        "wires": [
            [
                "3f56c8797b04025b"
            ]
        ]
    },
    {
        "id": "f1d324d2a262798f",
        "type": "change",
        "z": "d964e50a53275c4d",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "51e6210649c3fdcd"
            ]
        ]
    },
    {
        "id": "3f56c8797b04025b",
        "type": "json",
        "z": "d964e50a53275c4d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1030,
        "y": 100,
        "wires": [
            [
                "6827e44c304797c3",
                "bfcd87742acb3386",
                "ed4208939a5ce64d",
                "5dc7fab19bc7e686",
                "c2a17d841d76e45b",
                "42a3840de183e2fd"
            ]
        ]
    },
    {
        "id": "bfcd87742acb3386",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get Temp",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.main.temp}}\n",
        "output": "str",
        "x": 1320,
        "y": 180,
        "wires": [
            [
                "a3eb03bf7c728af8",
                "5edd7c04f77b423b"
            ]
        ]
    },
    {
        "id": "6827e44c304797c3",
        "type": "debug",
        "z": "d964e50a53275c4d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 100,
        "wires": []
    },
    {
        "id": "c5c53d9e0c7e7506",
        "type": "ui_button",
        "z": "d964e50a53275c4d",
        "name": "",
        "group": "0fa8d92521817783",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fetch Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "get_app",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "3fee41ec7ae3c402",
                "c87da2e74718c8b5"
            ]
        ]
    },
    {
        "id": "e125250483f8bb6f",
        "type": "ui_text",
        "z": "d964e50a53275c4d",
        "group": "0fa8d92521817783",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP Adress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "dd59dcce0af5c0d1",
        "type": "maps",
        "z": "d964e50a53275c4d",
        "name": "",
        "path": "maps",
        "maptitle": "Map title",
        "x": 770,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "115c15e5ca945c31",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\"channel\": \"Position\",\"dataset\": [{\"lon\": {{payload.y}},\"lat\": {{payload.x}},\"name\": \"My location\",\"description\": \"My Location\",\"value\": 20.5,\"unit\": \"°C\",\"iconColor\": \"Red\"}]}]",
        "output": "str",
        "x": 780,
        "y": 480,
        "wires": [
            [
                "e7729ec8ee146822"
            ]
        ]
    },
    {
        "id": "8e5b2de51fa8920b",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get location",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.loc}}",
        "output": "str",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "c65da013c732523f"
            ]
        ]
    },
    {
        "id": "1180ab0905b31e88",
        "type": "inject",
        "z": "d964e50a53275c4d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"channel\":\"TEMP\",\"dataset\":[{\"lon\":-3.703548,\"lat\":40.417204,\"name\":\"9fj04r\",\"description\":\"Temperature in Madrid\",\"value\":20.5,\"unit\":\"°C\",\"iconColor\":\"Blue\"},{\"lon\":-0.075906,\"lat\":51.508319,\"name\":\"04jgpe\",\"description\":\"Temperature in London\",\"value\":19,\"unit\":\"°C\",\"iconColor\":\"Yellow\"},{\"lon\":2.34294,\"lat\":48.859271,\"name\":\"lfj82k\",\"description\":\"Temperature in Paris\",\"label\":\"Alert for strong frosts\",\"value\":11.7,\"unit\":\"°C\",\"iconColor\":\"Red\"},{\"lon\":13.402786,\"lat\":52.517987,\"name\":\"0lw233\",\"description\":\"Temperature in Berlin\",\"value\":10.8,\"unit\":\"°C\",\"iconColor\":\"Red\"}]}]",
        "payloadType": "json",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "3fee41ec7ae3c402",
                "c87da2e74718c8b5"
            ]
        ]
    },
    {
        "id": "c65da013c732523f",
        "type": "function",
        "z": "d964e50a53275c4d",
        "name": "Split funtion",
        "func": "// Get input string\nlet input = msg.payload;  // \"36.8190,10.1658\"\n\n// Split by comma\nlet parts = input.split(\",\");\n\n// Build JSON\nmsg.payload = {\n    x: parseFloat(parts[0].trim()),\n    y: parseFloat(parts[1].trim())\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 420,
        "wires": [
            [
                "115c15e5ca945c31"
            ]
        ]
    },
    {
        "id": "e7729ec8ee146822",
        "type": "json",
        "z": "d964e50a53275c4d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "dd59dcce0af5c0d1"
            ]
        ]
    },
    {
        "id": "3ffaf04cc87b3cbb",
        "type": "ui_text",
        "z": "d964e50a53275c4d",
        "group": "0fa8d92521817783",
        "order": 3,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "My Information",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "eb582c3a95ded41b",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get City, Country Info",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "City :{{payload.city}} \nCountry : {{payload.country}} \nTimeZone:  {{payload.timezone}} \n",
        "output": "str",
        "x": 740,
        "y": 680,
        "wires": [
            [
                "3ffaf04cc87b3cbb"
            ]
        ]
    },
    {
        "id": "223c4df1a119bd2d",
        "type": "comment",
        "z": "d964e50a53275c4d",
        "name": "Get my Ip adress",
        "info": "",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "5edd7c04f77b423b",
        "type": "ui_text",
        "z": "d964e50a53275c4d",
        "group": "0fa8d92521817783",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 180,
        "wires": []
    },
    {
        "id": "a3eb03bf7c728af8",
        "type": "ui_chart",
        "z": "d964e50a53275c4d",
        "name": "",
        "group": "8a89d867a512d07f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6be242a32956f09d",
        "type": "comment",
        "z": "d964e50a53275c4d",
        "name": "Get my weather information",
        "info": "",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed4208939a5ce64d",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get Humidity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.main.humidity}}\n",
        "output": "str",
        "x": 1330,
        "y": 300,
        "wires": [
            [
                "9bda0ba1d8de4822"
            ]
        ]
    },
    {
        "id": "5dc7fab19bc7e686",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get Pressure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.main.pressure}}\n",
        "output": "str",
        "x": 1330,
        "y": 380,
        "wires": [
            [
                "327f85ff848a20a0"
            ]
        ]
    },
    {
        "id": "c2a17d841d76e45b",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get Sea Level",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.main.sea_level}}\n",
        "output": "str",
        "x": 1340,
        "y": 440,
        "wires": [
            [
                "94088147f8d5730d"
            ]
        ]
    },
    {
        "id": "42a3840de183e2fd",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "Get Wind Speed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.wind.speed}}",
        "output": "str",
        "x": 1340,
        "y": 500,
        "wires": [
            [
                "2ac024467acd2fa3"
            ]
        ]
    },
    {
        "id": "9bda0ba1d8de4822",
        "type": "ui_gauge",
        "z": "d964e50a53275c4d",
        "name": "",
        "group": "8a89d867a512d07f",
        "order": 1,
        "width": "5",
        "height": "4",
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 300,
        "wires": []
    },
    {
        "id": "327f85ff848a20a0",
        "type": "ui_text",
        "z": "d964e50a53275c4d",
        "group": "0fa8d92521817783",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1540,
        "y": 360,
        "wires": []
    },
    {
        "id": "94088147f8d5730d",
        "type": "ui_gauge",
        "z": "d964e50a53275c4d",
        "name": "",
        "group": "8a89d867a512d07f",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "wave",
        "title": "Sea Level",
        "label": "M",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ac024467acd2fa3",
        "type": "ui_text",
        "z": "d964e50a53275c4d",
        "group": "0fa8d92521817783",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed ",
        "format": "{{msg.payload}} Km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 500,
        "wires": []
    },
    {
        "id": "c87da2e74718c8b5",
        "type": "http request",
        "z": "d964e50a53275c4d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.fastforex.io/fetch-one?from=EUR&to=TND&api_key=6565d493a2-8285790a55-t6ftt5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "b8e28b697ad684c9"
            ]
        ]
    },
    {
        "id": "b8e28b697ad684c9",
        "type": "json",
        "z": "d964e50a53275c4d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 980,
        "wires": [
            [
                "3411902395e2c373"
            ]
        ]
    },
    {
        "id": "b3d146bdf1ff6dbc",
        "type": "debug",
        "z": "d964e50a53275c4d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 920,
        "wires": []
    },
    {
        "id": "863bc85dc59f1da0",
        "type": "ui_text",
        "z": "d964e50a53275c4d",
        "group": "cf8639cc0b08751b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Change",
        "format": "EUR = {{msg.payload}}  TND",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3411902395e2c373",
        "type": "template",
        "z": "d964e50a53275c4d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.result.TND}}",
        "output": "str",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "b3d146bdf1ff6dbc",
                "863bc85dc59f1da0"
            ]
        ]
    },
    {
        "id": "c3de86b24770e9dd",
        "type": "ui_spacer",
        "z": "d964e50a53275c4d",
        "name": "spacer",
        "group": "0fa8d92521817783",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9d78537ddf6ff91",
        "type": "ipinfo-config",
        "name": "IPInfo Config",
        "timeout": "1000",
        "cacheEnabled": false,
        "maxitem": "",
        "ttl": ""
    },
    {
        "id": "0fa8d92521817783",
        "type": "ui_group",
        "name": "Gloabl Information",
        "tab": "1653505408159d06",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a89d867a512d07f",
        "type": "ui_group",
        "name": "Weather Information",
        "tab": "1653505408159d06",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf8639cc0b08751b",
        "type": "ui_group",
        "name": "Other Info",
        "tab": "1653505408159d06",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1653505408159d06",
        "type": "ui_tab",
        "name": "Home",
        "icon": "live_circle",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "587fcd9710bd865f",
        "type": "global-config",
        "env": [],
        "modules": {
            "@gautric/node-red-ipinfo": "1.0.0",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-maps": "0.2.2"
        }
    }
]
